<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DB2_Dev" value="PROVIDER=IBMDADB2;DSN=TESTDB2;UId=DB2WSIGN;Pwd=DB2WSIGN;"/>
    <add key="DB2_UAT" value="PROVIDER=IBMDADB2;DSN=MODLDB2;UId=INETDB2M;Pwd=INETM96;"/>
    <add key="DB2_Prod" value="PROVIDER=IBMDADB2;DSN=PRODDB2;UId=INETDB2;Pwd=T6Z3W8A0;"/>
  </appSettings>
  
  <connectionStrings>
    <add name="ProdConnect" connectionString="Server=NLGPHQVSQL70;Database=NLG_WI_NationalLife;uid=webcog;pwd=8tLcdw63" providerName="System.Data.SqlClient"/>
    <add name="UATConnect" connectionString="Server=NLGTHQVSQL67;Database=NLG_WI_NationalLife;uid=webcog;pwd=8tLcdw63" providerName="System.Data.SqlClient"/>
    <add name="DEVConnect" connectionString="Server=NLGDHQVSQL62;Database=NLG_WI_NationalLife;uid=webcog;pwd=8tLcdw63" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>