<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SQL_Prod_WI_Search" connectionString="Server=NLGPHQVSQL70;Database=NLG_WI_Search;uid=webcog;pwd=8tLcdw63" providerName="System.Data.SqlClient" />
    <add name="DB2_Dev" connectionString="PROVIDER=IBMDADB2;DSN=TESTDB2;UId=DB2WSIGN;Pwd=DB2WSIGN;" />
    <add name="DB2_UAT" connectionString="PROVIDER=IBMDADB2;DSN=MODLDB2;UId=INETDB2M;Pwd=INETM96;" />
    <add name="DB2_Prod" connectionString="PROVIDER=IBMDADB2;DSN=PRODDB2;UId=INETDB2;Pwd=T6Z3W8A0;" />
    <add name="NLG_WI_NationalLifeEntities_UAT" connectionString="metadata=res://*/NLG_WI_NationalLife.csdl|res://*/NLG_WI_NationalLife.ssdl|res://*/NLG_WI_NationalLife.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NLGTHQVSQL67;initial catalog=NLG_WI_NationalLife;persist security info=True;user id=webcog;password=8tLcdw63;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NLG_WI_NationalLifeEntities_PROD" connectionString="metadata=res://*/NLG_WI_NationalLife.csdl|res://*/NLG_WI_NationalLife.ssdl|res://*/NLG_WI_NationalLife.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NLGPHQVSQL70;initial catalog=NLG_WI_NationalLife;persist security info=True;user id=webcog;password=8tLcdw63;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NLG_WI_NationalLifeEntities_DEV" connectionString="metadata=res://*/NLG_WI_NationalLife.csdl|res://*/NLG_WI_NationalLife.ssdl|res://*/NLG_WI_NationalLife.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NLGDHQVSQL62;initial catalog=NLG_WI_NationalLife;persist security info=True;user id=webcog;password=8tLcdw63;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="NLG_WI_NationalLifeEntities" connectionString="metadata=res://*/NLG_WI_NationalLife.csdl|res://*/NLG_WI_NationalLife.ssdl|res://*/NLG_WI_NationalLife.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nlgphqvsql70;initial catalog=NLG_WI_NationalLife;persist security info=True;user id=webcog;password=8tLcdw63;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>