<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FileLocation" value="\\corp\hdq\TFS\StagingArea\NLG.Web\PromoteText" />
    <add key="FileFormat" value="{0} - 01 - {1} promote.txt" />
    <add key="FileContent" value="{1}.NLG.Web.NationalLife{0}{1}.NLG.Services.NationalLife.Reporting{0}{1}.NLG.Services.NationalLife{0}{1}.NLG.Services.Enterprise" />
    <add key="ProjectNumber" value="11795" />
    <add key="TFSBranch" value="DEV-SSPR,DEV-10Seg,HotFix,ServicePack" />
  </appSettings>
  <connectionStrings>
    <add name="SQL_Prod_WI_Search" connectionString="Server=NLGPPTVSQLL08;Database=NLG_WI_Search;uid=webcog;pwd=8tLcdw63" providerName="System.Data.SqlClient" />
    <add name="DB2_Dev" connectionString="PROVIDER=IBMDADB2;DSN=TESTDB2;UId=DB2WSIGN;Pwd=DB2WSIGN;" />
    <add name="DB2_UAT" connectionString="PROVIDER=IBMDADB2;DSN=MODLDB2;UId=INETDB2M;Pwd=INETM96;" />
    <add name="DB2_Prod" connectionString="PROVIDER=IBMDADB2;DSN=PRODDB2;UId=INETDB2;Pwd=T6Z3W8A0;" />
    <add name="NLG_WI_NationalLifeEntities_UAT" connectionString="metadata=res://*/NLG_WI_NationalLife.csdl|res://*/NLG_WI_NationalLife.ssdl|res://*/NLG_WI_NationalLife.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NLGTPTVSQLL07;initial catalog=NLG_WI_NationalLife;persist security info=True;user id=webcog;password=8tLcdw63;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NLG_WI_NationalLifeEntities_PROD" connectionString="metadata=res://*/NLG_WI_NationalLife.csdl|res://*/NLG_WI_NationalLife.ssdl|res://*/NLG_WI_NationalLife.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NLGPPTVSQLL08;initial catalog=NLG_WI_NationalLife;persist security info=True;user id=webcog;password=8tLcdw63;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NLG_WI_NationalLifeEntities_DEV" connectionString="metadata=res://*/NLG_WI_NationalLife.csdl|res://*/NLG_WI_NationalLife.ssdl|res://*/NLG_WI_NationalLife.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NLGDPTVSQL209;initial catalog=NLG_WI_NationalLife;persist security info=True;user id=webcog;password=8tLcdw63;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NLG_WI_NationalLifeEntities" connectionString="metadata=res://*/NLG_WI_NationalLife.csdl|res://*/NLG_WI_NationalLife.ssdl|res://*/NLG_WI_NationalLife.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nlgpptvsqll08;initial catalog=NLG_WI_NationalLife;persist security info=True;user id=webcog;password=8tLcdw63;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
